@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eee;
}
.dc_loginPage {
  background-image: url("https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  filter: blur(50);
}

.dc_textBox {
  @apply w-full text-white bg-black border-none rounded-sm input border-slate-300;
}
.dc_card {
  @apply rounded-md shadow-xl card bg-base-200 h-fit;
}

.dc_btn_primary {
  @apply w-full rounded-sm btn btn-primary;
}
.chat-start {
  place-items: start;
  grid-template-columns: auto 1fr;
}
.chat-end {
  place-items: end;
  grid-template-columns: 1fr auto;
}
.chat-bubble-primary {
  --tw-bg-opacity: 1;
  background-color: hsl(var(--p) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: hsl(var(--pc) / var(--tw-text-opacity));
}
.chat-bubble-accent {
  --tw-bg-opacity: 1;
  background-color: hsl(var(--a) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: hsl(var(--ac) / var(--tw-text-opacity));
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
